In [1]:
import pandas as pd

In [2]:
train=pd.read_csv("train.csv")
test_df=pd.read_csv("test_x.csv")
data=train.copy()

In [3]:
data.head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,37.310644,Etmiyor,obek_4,102.936904
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,11.554851,Etmiyor,obek_5,82.176053
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,55.353236,Ediyor,obek_8,141.661426
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,15.417239,Etmiyor,obek_3,17.097397
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,14.689837,Etmiyor,obek_3,20.470459

In [7]:
x=data.drop("Öbek İsmi",axis=1)
y=data["Öbek İsmi"]

In [12]:

#dönüştürelecek DataFrame adı -->data

columns_l = list(data.columns)
categorical_columns = []

object_to_category = False  # Önce döngüde herhangi bir değişiklik yapılmadığını varsayalım

for i in columns_l:
    if data[i].dtype == 'object' or data[i].dtype.name == 'category':
        categorical_columns.append(i)
        if data[i].dtype == 'object':
            object_to_category = True  # En az bir "object" tipinde sütun bulundu

# "object" tipindeki sütunları "category" tipine dönüştürme ve çevrilenleri yazdırma
for column in categorical_columns:
    if data[column].dtype == 'object':
        data[column] = data[column].astype('category')

# Eğer dönüştürme yapıldıysa, çevrilenleri yazdırma
if object_to_category:
    print("Kategorik değişkene çevrilenler:")
    for column in categorical_columns:
        if data[column].dtype == 'category':
            print(column)
else:
    print("Object tipinde kolon yok.")

Kategorik değişkene çevrilenler:
Cinsiyet
Yaş Grubu
Medeni Durum
Eğitim Düzeyi
İstihdam Durumu
Yaşadığı Şehir
En Çok İlgilendiği Ürün Grubu
Eğitime Devam Etme Durumu
Öbek İsmi

In [13]:
import pandas as pd
#girdi--> data

df = pd.DataFrame(data)

# Kategorik sütunlara dönüşüm ve (n-1) kuralı uygulama
categorical_columns = df.select_dtypes(include=["category"]).columns

for column in categorical_columns:
    dummies = pd.get_dummies(df[column], prefix=column, drop_first=True)
    df = pd.concat([df, dummies], axis=1)
    df.drop(column, axis=1, inplace=True)
    
data=df

In [14]:
dumy_colons = []
x=data

for column in x.columns:
    if x[column].dtype == "uint8":
        dumy_colons.append(column)
    else:
        pass
dumy_colons

['Cinsiyet_Kadın',
 'Yaş Grubu_31-40',
 'Yaş Grubu_41-50',
 'Yaş Grubu_51-60',
 'Yaş Grubu_>60',
 'Medeni Durum_Evli',
 'Eğitim Düzeyi_Doktora Ötesi',
 'Eğitim Düzeyi_Eğitimsiz',
 'Eğitim Düzeyi_Lise Mezunu',
 'Eğitim Düzeyi_Ortaokul Mezunu',
 'Eğitim Düzeyi_Yüksek Lisans Mezunu',
 'Eğitim Düzeyi_Yüksekokul Mezunu',
 'Eğitim Düzeyi_Üniversite Mezunu',
 'Eğitim Düzeyi_İlkokul Mezunu',
 'İstihdam Durumu_Emekli',
 'İstihdam Durumu_Kendi İşinin Sahibi',
 'İstihdam Durumu_İşsiz veya Düzenli Bir İşi Yok',
 'Yaşadığı Şehir_Köy veya Kasaba',
 'Yaşadığı Şehir_Küçük Şehir',
 'Yaşadığı Şehir_Kırsal',
 'En Çok İlgilendiği Ürün Grubu_Ev ve Mobilya',
 'En Çok İlgilendiği Ürün Grubu_Giyim',
 'En Çok İlgilendiği Ürün Grubu_Kozmetik',
 'En Çok İlgilendiği Ürün Grubu_Spor Malzemeleri',
 'Eğitime Devam Etme Durumu_Etmiyor',
 'Öbek İsmi_obek_2',
 'Öbek İsmi_obek_3',
 'Öbek İsmi_obek_4',
 'Öbek İsmi_obek_5',
 'Öbek İsmi_obek_6',
 'Öbek İsmi_obek_7',
 'Öbek İsmi_obek_8']

In [16]:
#girdiler*************
#data-->girdi dataso
#dumy_columns-->duy değişken kolonları
from sklearn.preprocessing import MinMaxScaler

# Veri setinizdeki dummy değişkenleri belirtin (örneğin ["Gender", "City"])
dummy_columns = dumy_colons

# Dummy değişkenleri ayrıştırın ve sadece sayısal sütunları seçin
data_without_dummies = data.drop(dummy_columns, axis=1)

# Z-skor standardizasyonu için StandardScaler kullanımı
scaler=MinMaxScaler()
scaled_features = scaler.fit_transform(data_without_dummies)

# Standartlaştırılmış verileri kullanarak yeni bir DataFrame oluşturun
scaled_df = pd.DataFrame(scaled_features, columns=data_without_dummies.columns)

# Dummy değişkenleri yeni DataFrame'e ekleyin
for column in dummy_columns:
    scaled_df[column] = data[column]

data=scaled_df

In [18]:
data.head()

,index,Yıllık Ortalama Gelir,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Yıllık Ortalama Sepete Atılan Ürün Adedi,Cinsiyet_Kadın,Yaş Grubu_31-40,Yaş Grubu_41-50,Yaş Grubu_51-60,Yaş Grubu_>60,...,En Çok İlgilendiği Ürün Grubu_Kozmetik,En Çok İlgilendiği Ürün Grubu_Spor Malzemeleri,Eğitime Devam Etme Durumu_Etmiyor,Öbek İsmi_obek_2,Öbek İsmi_obek_3,Öbek İsmi_obek_4,Öbek İsmi_obek_5,Öbek İsmi_obek_6,Öbek İsmi_obek_7,Öbek İsmi_obek_8
0,0.000000,0.613265,0.637245,0.577419,0.415218,1,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,0.000183,0.176206,0.028122,0.178823,0.328109,0,0,0,0,1,...,0,1,1,0,0,0,1,0,0,0
2,0.000366,0.195609,0.154441,0.856646,0.577700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.000550,0.247101,0.077788,0.238597,0.055049,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
4,0.000733,0.307797,0.109898,0.227340,0.069202,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [19]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation,Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [20]:
x.shape

(5460, 37)

In [ ]:
model = Sequential()

model.add(Dense(units=37,activation = "relu"))
model.add(Dense(units=17,activation = "relu"))
model.add(Dense(units=17,activation = "relu"))
model.add(Dense(units=1,activation = "sigmoid"))

model.compile(loss="binary_crossentropy",optimizer = "adam")model = Sequential()

model.add(Dense(units=30,activation = "relu"))
model.add(Dense(units=15,activation = "relu"))
model.add(Dense(units=15,activation = "relu"))
model.add(Dense(units=1,activation = "sigmoid"))

model.compile(loss="binary_crossentropy",optimizer = "adam")

In [ ]:
earlyStopping = EarlyStopping(monitor="val_loss",mode="min",verbose=1,patience=25)

In [ ]:
model.fit(x=x, y=y, epochs = 700, verbose = 1, callbacks=[earlyStopping])

In [ ]:
modelKaybi = pd.DataFrame(model.history.history)

In [ ]:
modelKaybi.plot()