In [14]:
import pandas as pd

In [15]:
train=pd.read_csv("train.csv")

In [16]:
test_df=pd.read_csv("test_x.csv")

In [17]:
data=train.copy()

In [18]:
data.head()

,index,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,37.310644,Etmiyor,obek_4,102.936904
1,1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,11.554851,Etmiyor,obek_5,82.176053
2,2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,55.353236,Ediyor,obek_8,141.661426
3,3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,15.417239,Etmiyor,obek_3,17.097397
4,4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,14.689837,Etmiyor,obek_3,20.470459

In [19]:
data.drop("index",axis=1,inplace=True)

In [20]:
data.head()

,Cinsiyet,Yaş Grubu,Medeni Durum,Eğitim Düzeyi,İstihdam Durumu,Yıllık Ortalama Gelir,Yaşadığı Şehir,En Çok İlgilendiği Ürün Grubu,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Eğitime Devam Etme Durumu,Öbek İsmi,Yıllık Ortalama Sepete Atılan Ürün Adedi
0,Kadın,31-40,Bekar,Yüksek Lisans Mezunu,Düzenli ve Ücretli Bir İşi Var,748266.440879,Büyük Şehir,Elektronik ve Teknolojik Ürünler,32010.900881,37.310644,Etmiyor,obek_4,102.936904
1,Erkek,>60,Evli,Lise Mezunu,Kendi İşinin Sahibi,246298.609605,Küçük Şehir,Spor Malzemeleri,4145.729891,11.554851,Etmiyor,obek_5,82.176053
2,Erkek,18-30,Bekar,Lise Mezunu,Düzenli ve Ücretli Bir İşi Var,268582.732360,Küçük Şehir,Giyim,9924.379414,55.353236,Ediyor,obek_8,141.661426
3,Erkek,51-60,Evli,Lise Mezunu,Kendi İşinin Sahibi,327721.837865,Kırsal,Giyim,6417.780714,15.417239,Etmiyor,obek_3,17.097397
4,Erkek,31-40,Evli,Ortaokul Mezunu,İşsiz veya Düzenli Bir İşi Yok,397431.626948,Büyük Şehir,Giyim,7886.663061,14.689837,Etmiyor,obek_3,20.470459

In [26]:
data.describe().round(3)

,Yıllık Ortalama Gelir,Yıllık Ortalama Satın Alım Miktarı,Yıllık Ortalama Sipariş Verilen Ürün Adedi,Yıllık Ortalama Sepete Atılan Ürün Adedi
count,5460.000,5460.000,5460.000,5460.000
mean,363571.133,16616.612,24.041,73.446
std,219714.442,14099.172,14.946,47.214
min,43922.989,2859.254,0.000,3.978
25%,215693.439,4931.859,11.551,25.009
50%,286925.436,8426.819,20.096,82.486
75%,468188.222,30579.245,35.918,104.473
max,1192437.145,48605.594,64.616,242.308

In [27]:
data.columns

Index(['Cinsiyet', 'Yaş Grubu', 'Medeni Durum', 'Eğitim Düzeyi',
       'İstihdam Durumu', 'Yıllık Ortalama Gelir', 'Yaşadığı Şehir',
       'En Çok İlgilendiği Ürün Grubu', 'Yıllık Ortalama Satın Alım Miktarı',
       'Yıllık Ortalama Sipariş Verilen Ürün Adedi',
       'Eğitime Devam Etme Durumu', 'Öbek İsmi',
       'Yıllık Ortalama Sepete Atılan Ürün Adedi'],
      dtype='object')

In [28]:
kolonlar=list(data.columns)

In [37]:
for i in kolonlar:
    print(i)
    print(data[i].unique())
    print("\n")

Cinsiyet
['Kadın' 'Erkek']


Yaş Grubu
['31-40' '>60' '18-30' '51-60' '41-50']


Medeni Durum
['Bekar' 'Evli']


Eğitim Düzeyi
['Yüksek Lisans Mezunu' 'Lise Mezunu' 'Ortaokul Mezunu'
 'Yüksekokul Mezunu' 'Üniversite Mezunu' 'Doktora Mezunu' 'İlkokul Mezunu'
 'Doktora Ötesi' 'Eğitimsiz']


İstihdam Durumu
['Düzenli ve Ücretli Bir İşi Var' 'Kendi İşinin Sahibi'
 'İşsiz veya Düzenli Bir İşi Yok' 'Emekli']


Yıllık Ortalama Gelir
[748266.44087923 246298.60960525 268582.73235981 ... 309443.68735149
 266604.26801645 276155.07833252]


Yaşadığı Şehir
['Büyük Şehir' 'Küçük Şehir' 'Kırsal' 'Köy veya Kasaba']


En Çok İlgilendiği Ürün Grubu
['Elektronik ve Teknolojik Ürünler' 'Spor Malzemeleri' 'Giyim'
 'Ev ve Mobilya' 'Kozmetik']


Yıllık Ortalama Satın Alım Miktarı
[32010.90088075  4145.72989146  9924.37941404 ...  4655.39244459
  9016.16590611  9455.65748031]


Yıllık Ortalama Sipariş Verilen Ürün Adedi
[37.31064385 11.55485128 55.35323564 ...  5.15690589 39.20539886
 50.55418845]


Eğitime Devam Etme Durumu
['Etmiyor' 'Ediyor']


Öbek İsmi
['obek_4' 'obek_5' 'obek_8' 'obek_3' 'obek_6' 'obek_1' 'obek_7' 'obek_2']


Yıllık Ortalama Sepete Atılan Ürün Adedi
[102.93690407  82.17605295 141.66142572 ...   9.53738441 143.28171765
 127.32934768]